# Insert your preferred key mappings here.
unmap j
unmap k
unmap <c-y>
unmap d
unmap h
unmap i
unmap l
unmap yy
unmap v
unmap zH
unmap zL
unmap J
unmap K
unmap gT
unmap gt
unmap N
map e scrollDown
map <c-e> scrollPageDown
map u scrollUp
map <c-u> scrollPageUp
map n scrollLeft
map i scrollRight
map L scrollToLeft
map Y scrollToRight
map c copyCurrentUrl
map s enterInsertMode
map a enterVisualMode
map v openCopiedUrlInCurrentTab
map V openCopiedUrlInNewTab
map gn previousTab
map gi nextTab
map k performFind
map K performBackwardsFind
